$base-font-size: 16px

// Breackpoint explanation:
//                 31.25rem            50rem               68.75rem
// size: ------------]-------------------]-------------------]--------------
//          small    |      medium       |       large       |    xlarge
//              bp-small-max        bp-medium-max       bp-large-max
$bp-large-max: 68.75rem
$bp-medium-max: 50rem
$bp-small-max: 31.25rem

@mixin page-width($point)
  @if $point == xlarge-and-up
    @media (min-width: $bp-large-max)
      @content
  @else if $point == large-and-up
    @media (min-width: $bp-medium-max)
      @content
  @else if $point == medium-and-up
    @media (min-width: $bp-small-max)
      @content
  @else if $point == small
    @media (max-width: $bp-small-max)
      @content
