$light-background-color: #e6e6e6

$dark-background-color: #4d4d4d
$dark-background-color-highlighted: #636363

$light-text-color: #82d1cc
$light-text-color-highlighted: #d0eeec

$light-text-color-grey: #dddddd

$dark-text-color: #4d4d4d
$dark-text-color-highlighted: #636363
