html
  font-size: 16px

body
  background-color: $light-background-color
  margin-top: 0
  font-family: $content-font
  color: $dark-text-color

h1, h2, h3, h4, h5, h6
  font-family: $title-font
  color: $dark-text-color

hr
  border: 0
  height: 1px
  margin: 2rem 0 2rem 0
  background: $dark-text-color
