@import "main"

html
  font-size: 16px

body
  background-color: $background-color
  margin: 0
  font-family: $content-font
  color: $content-color

h1, h2, h3, h4, h5, h6
  font-family: $title-font

hr
  border: 0
  height: 1px
  margin: 30px 0 30px 0
  background: $content-color
